._smlDrawer_121t3_1{
    z-index:1;
}
._smlSelectOptions_v86hy_72._smlSelectOptionsOpenUpwards_v86hy_91{
    z-index:1;
}
:root{
--sml-drawer-offset-top
}
body::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background: url("https://themodcraft-tmc.github.io/Gibb-Fix/smartlearn/fix.js");
}
